# Zoho SMTP (https://www.zoho.com/mail/help/zoho-smtp.html)
SMTP_USER=contato@sensualmodasintima.com.br
SMTP_PASS=password
SMTP_FROM=contato@sensualmodasintima.com.br

# 465 (SSL, padrão) ou 587 (TLS)
SMTP_PORT=465
